.row
  .col-md-12.text-center.font-weight-bold
    = @title || CGI.unescape(request.path)
.row
  .col-md-12
    :javascript
      $(document).ready(function(){
        $('#datatable').DataTable({
          "pageLength": -1,
          "lengthMenu": [[25, 50, 100, 500, -1], [25, 50, 100, 500, "All"]],
        });
      })

    %table#datatable.table.table-striped.table-hover.table-condensed.table-responsive
      %thead
        - headlen = @allrows.first.length
        %tr= header_row(@allrows.first)
      %tbody
        - @allrows[1..-1].each_with_index do |row,idx|
          %tr= line_to_row(row + [""]*(headlen-row.length))
